name: Build Oxide.Native

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, debian-latest, centos-latest]
        
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup CMake
        uses: lukka/get-cmake@latest

      - name: Install linux dependencies
        if: matrix.os != 'windows-latest'
        run: |
          if [[ "${{ matrix.os }}" == "centos-latest" ]]; then
            sudo yum groupinstall -y "Development Tools"
            sudo yum install -y epel-release
            sudo yum install -y cmake3
            sudo ln -s /usr/bin/cmake3 /usr/bin/cmake
          else
            sudo apt-get update
            sudo apt-get upgrade -y
            sudo apt-get install -y build-essential
          fi
          
      - name: Install windows dependencies
        if: matrix.os == 'windows-latest'
        run: |
          choco install -y visualstudio2019buildtools visualstudio2019-workload-vctools
          echo "C:\\Program Files\\CMake\\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8

      - name: Configure CMake
        run: cmake -B build -S .

      - name: Build
        run: cmake --build build --config Release

      - name: List build directory contents
        run: ls -R build

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: Oxide.Native-${{ matrix.os }}
          path: |
          build/**/Oxide.Native.so
          build/**/Oxide.Native.dll
          !build/CMakeFiles/